<mat-toolbar color="" class="main-app-toolbar">
  <h1>
    <mat-icon class="main-icon">shopping_basket</mat-icon>
    <span> Tienda Mia</span>
  </h1>
  <div class="cont">
    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/login">Login</button>
  </div>
</mat-toolbar>