<section>
  <div class="contenido">

    <div class="siguenos c1">
      <div class="cont-siguenos">
        <div class="titulo">
          <h2>Síguenos</h2>
        </div>
        <div class="iconos-redes">
          <span><a href="https://www.linkedin.com/company/sofka-technologies/"><img src="../../../assets/linkedin.jpg" style="height: 30px;width: 30px;"></a></span>
          <span><a href="https://www.instagram.com/sofka_technologies/"><img src="../../../assets/instagram.jpg" style="height: 30px;width: 30px;"></a></span>
          <span><a href="https://www.facebook.com/sofkatech/"><img src="../../../assets/facebook.jpg" style="height: 30px;width: 30px;"></a></span>
          <span><a href="https://www.youtube.com/channel/UCa6j2dHRleqQciUHLM1FTRw/featured"><img src="../../../assets/youtube.jpg" style="height: 30px;width: 30px;"></a></span>
        </div>
      </div>
    </div>

    <div class="sofkau c1">
      <div class="cont-sofka">
        <div class="titulo">
          <img src="https://ik.imagekit.io/lvh0tltbeph/SofkaU/made-with-by-sofkau_Iaa97UR1ek.png?ik-sdk-version=javascript-1.4.3&updatedAt=1645794724874" alt="">
        </div>
        <div class="derechos">
          <div class="cont1">
            <p>©Sofka U 2022 <br> Todos los derechos reservados</p>
          </div>
          <div class="cont1">
            <p>
              <strong>
                <span >Contáctenos</span>
              </strong>
              <br>
              university@sofka.com.co
              <br>
              +57 319 333 1091
            </p>
          </div>
        </div>
      </div>
    </div>

    
  </div>
</section>