body {
    margin: 0;
    box-sizing: border-box;
}
.btn-google {
    font-family: 'DM Sans', sans-serif;
    color: #4285f4;
    background-color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    border: 10px solid rgb(255, 255, 255);
    padding: 9px;
    border-radius: 7px;
}

.btn-google:hover {
    cursor: pointer;
    color: #ff7e06;
    background-color: white;
}

header{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    max-height:100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 6, 0.389);
    aspect-ratio: 16 / 9;
}

.cont {
    position: absolute;
    bottom: 0;
    top: 0;
    margin-top: 5%;
    color: #fff;
    font-family: Avenir, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.cont-bienvenida span {
    color: #ff7e06;
}

iframe {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100%;
    height: auto;
    border: none;
    aspect-ratio: 16 / 9;
    pointer-events: none;
    z-index: -1;
}