<header>
  <div class="cont">
    <button type="button" class="btn-google" routerLink="/home">
      <img src="../../../assets/Google__G__Logo.png" style="height:30px;width:30px;"> Login with Google
    </button>
  </div>
  <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" width="640"
    height="360"
    src="https://www.youtube.com/embed/WEINwn2nXnY?autoplay=1&playlist=WEINwn2nXnY&loop=1&mute=1&enablejsapi=1&modestbranding=1&showinfo=0&controls=0"
    frameborder="0"></iframe>
</header>